<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--<style>
    .oj-flex-items-pad{
 background-color: #C3E7F8;
 }
 
</style>-->

 
<h1>Statistics</h1>


<p>Demo width in <span class="demo-screen-range"></span> screen range.</p>

  
  <p><b>Example 1:</b> Odd numbered columns columns are 4 (of 12) columns on 
    medium and up screens, meaning they behave as if 'oj-md-4' was placed on 
    the cell. The even numbered columns will automatically take up the rest of 
    the space, meaning they behave as if 'oj-md-8' was placed on them.</p>

  <div class="demo-flex-display">
    <div class="oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-flex-items-pad">       
      <div class="oj-flex">
          <div class="oj-flex-item">
              <h>txt1</h>
              <h>txt2</h>
           
          </div>
        <div class="oj-flex-item">col 2</div> 
      </div>       
      <div class="oj-flex">
        <div class="oj-flex-item">col 1</div>
        <div class="oj-flex-item">col 2</div> 
      </div>       
      <div class="oj-flex">
        <div class="oj-flex-item">col 1</div>
        <div class="oj-flex-item">col 2</div> 
      </div> 
    </div>
  </div>  
  
  <hr>
  
  <p><b>Example 2:</b> Without the "odd-cols" classes used in example 1 you would have to repeat the 
    sizing on each column.</p>
  <div class="oj-flex-items-pad demo-flex-display" >
    <div class="oj-flex">
      <div class="oj-sm-12 oj-md-4 oj-flex-item">col 1</div>
      <div class="oj-sm-12 oj-md-8 oj-flex-item">col 2</div> 
    </div>       
    <div class="oj-flex">
      <div class="oj-sm-12 oj-md-4 oj-flex-item">col 1</div>
      <div class="oj-sm-12 oj-md-8 oj-flex-item">col 2</div> 
    </div>       
    <div class="oj-flex">
      <div class="oj-sm-12 oj-md-4 oj-flex-item">col 1</div>
      <div class="oj-sm-12 oj-md-8 oj-flex-item">col 2</div> 
    </div> 
  </div>
  
  <hr>
  
  <p><b>Example 2:</b> Without the "odd-cols" classes used in example 1 you would have to repeat the 
    sizing on each column.</p>
  <div class="oj-flex-items-pad demo-flex-display">
    <div class="oj-flex">
      <div class="oj-sm-12 oj-md-4 oj-flex-item">col 1</div>
      <div class="oj-sm-12 oj-md-8 oj-flex-item">col 2</div> 
    </div>       
    <div class="oj-flex">
      <div class="oj-sm-12 oj-md-4 oj-flex-item">col 1</div>
      <div class="oj-sm-12 oj-md-8 oj-flex-item">col 2</div> 
    </div>       
    <div class="oj-flex">
      <div class="oj-sm-12 oj-md-4 oj-flex-item">col 1</div>
      <div class="oj-sm-12 oj-md-8 oj-flex-item">col 2</div> 
    </div> 
  </div>
