<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--<style>
    .oj-flex-items-pad{
 background-color: #C3E7F8;
 }
 
</style>-->


<!--<h1>Statistics</h1>-->


<!--<p>Demo width in <span class="demo-screen-range"></span> screen range.</p>


<p><b>Example 1:</b> Odd numbered columns columns are 4 (of 12) columns on 
    medium and up screens, meaning they behave as if 'oj-md-4' was placed on 
    the cell. The even numbered columns will automatically take up the rest of 
    the space, meaning they behave as if 'oj-md-8' was placed on them.</p>-->

<div class="demo-grid-sizes demo-flex-display">

    <div class="oj-flex">

        <div class="oj-sm-3 oj-flex-item"></div>
        <div class="oj-flex-item">
            <font size="5" face="Times">Activity Statistic</font>
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-2">
                    <div class="demo-employee-tenure" >
                        <font size="10" color="blue">7</font>
                    </div>
                    <div class="demo-employee-tenure-label">All</div>
                </div>
                <div class="oj-flex-item oj-sm-2">
                    <div class="demo-employee-perf">
                        <font size="10" color="blue">5</font>
                    </div>
                    <div class="demo-employee-perf-label">Effective</div>
                </div>
                <div class="oj-flex-item oj-sm-2">
                    <div class="demo-employee-perf">
                        <font size="10" color="blue">2</font>
                    </div>
                    <div class="demo-employee-perf-label">Expired</div>
                </div>
            </div>

        </div>

        <div class="oj-flex-item">
            <font size="5" face="Times">People Statistic</font>
            <div class="oj-flex oj-flex-items-pad">
                <div class="oj-flex-item oj-sm-2">
                    <div class="demo-employee-tenure">
                        <font size="10" color="blue">7</font>
                    </div>
                    <div class="demo-employee-tenure-label">All</div>
                </div>
                <div class="oj-flex-item oj-sm-2">
                    <div class="demo-employee-perf">
                        <font size="10" color="blue">5</font>
                    </div>
                    <div class="demo-employee-perf-label">ValidList</div>
                </div>
                <div class="oj-flex-item oj-sm-2">
                    <div class="demo-employee-perf">
                        <font size="10" color="blue">2</font>
                    </div>
                    <div class="demo-employee-perf-label">BlackList</div>
                </div>
            </div>
        </div>
        <div class="oj-sm-3 oj-flex-item"></div>

        <!--Expired Activity Statistic-->


    </div>





    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-sm-3 oj-flex-item"></div>
        <div class="oj-sm-6 oj-flex-item">

            <ul id="listview" aria-label="list with static data" 
                data-bind="ojComponent: {component: 'ojListView', selectionMode: 'multiple'}">
                <li id="amybartlet">
                    <div class="oj-flex-items-pad demo-flex-display" >
                        <div class="oj-flex" style="align-items: baseline">
                            <img src="images/test1.jpg"/>
                            <div>
                                <span class="name">
                                    <font size="8">Godfrey</font>
                                </span>
                            </div>
                            <span class="demo-employee-tenure-label">15 days ago</span>
                        </div>
                    </div>
                    <span class="oj-text-xs oj-text-secondary-color">Title: Next Monday, we will have regular activity @东方花园会所with two courts from 19:00 to 21:00</span>

                </li> 
            </ul>
        </div>
        <div class="oj-sm-3 oj-flex-item"></div>
    </div>

    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-sm-3 oj-flex-item"></div>
        <div class="oj-sm-6 oj-flex-item">

            <ul id="listview" aria-label="list with static data" 
                data-bind="ojComponent: {component: 'ojListView', selectionMode: 'multiple'}">
                <li id="amybartlet">

                    <div class="oj-flex-items-pad demo-flex-display"  >
                        <div class="oj-flex" style="align-items: baseline">

                            <img src="images/test1.jpg"/>

                            <div>

                                <span class="name">
                                    <font size="8">Godfrey</font>
                                </span>

                                <span class="demo-employee-tenure-label">15 days ago</span>
                            </div>
                        </div>       
                    </div>
                    <div>
                        <span class="oj-text-xs oj-text-secondary-color">Attendee: 12/20</span>
                    </div>
                    <div>
                        <span class="oj-text-xs oj-text-secondary-color">Title: Next Monday, we will have regular activity @东方花园会所with two courts from 19:00 to 21:00</span>
                    </div>

                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-sm-6 oj-flex-item">

                            <div id='sunburst-container'>

                                <div id='sunburst1' contextmenu="menu1" data-bind="ojComponent: {
                                    component: 'ojSunburst',
                                    animationOnDisplay: 'auto',
                                    animationOnDataChange: 'auto',
                                    selectionMode: 'none',
                                    nodes: nodeValues
                                }"
                                    style="max-width:600px;width:100%; height:450px;">
                                </div>
                            </div>
                        </div>
                        <div class="oj-sm-6 oj-flex-item">

                            <div align="center" data-bind="ojModule: {name:'home'}"></div>
                        </div>
                    </div>

                </li>

            </ul>
        </div>
        <div class="oj-sm-3 oj-flex-item"></div>
    </div>
    
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-sm-3 oj-flex-item"></div>
        <div class="oj-sm-6 oj-flex-item">

    <ul id="listview" aria-label="list with static data" 
        data-bind="ojComponent: {component: 'ojListView', selectionMode: 'multiple'}">
        <li id="amybartlet">

            


                <div class="oj-flex" style="align-items: baseline">

                    <img src="images/test1.jpg"/>

                    <div>

                        <span class="name">
                            <font size="8">Godfrey</font>
                        </span>
                    </div>

                    <span class="demo-employee-tenure-label">Enroll for 15 activities</span>
                    <img src="images/test2.jpg"/>
                </div>
        </li> 
    </ul>
            </div>
        <div class="oj-sm-3 oj-flex-item"></div>
</div>

    
<div class="oj-flex oj-flex-items-pad">
    <div class="oj-sm-3 oj-flex-item"></div>
        <div class="oj-sm-6 oj-flex-item">
    <div class="oj-flex-items-pad demo-flex-display" >
        <div class="oj-flex" style="align-items: baseline">
            <img src="images/test1.jpg"/>
            <div>
                <span class="name">
                    <font size="8">Godfrey</font>
                </span>
            </div>
            <span class="demo-employee-tenure-label"> Introduction: A member of RAC team, like basketball, swimming, cooking, and so on.</span>
        </div>
        <div id='sunburst-container'>

            <div id='sunburst1' contextmenu="menu1" data-bind="ojComponent: {
                    component: 'ojSunburst',
                    animationOnDisplay: 'auto',
                    animationOnDataChange: 'auto',
                    selectionMode: 'none',
                    nodes: nodeValues
                }"
                 style="max-width:600px;width:100%; height:450px;">
            </div>
        </div>
        <div class="oj-sm-odd-cols-12 oj-md-odd-cols-6 oj-flex-items-pad">
            <table id="table"  summary="Type List" aria-label="Types Table"
                   data-bind="ojComponent: {component: 'ojTable', 
                                data: datasource, 
                                columnsDefault: {sortable: 'none'}, 
                                columns: [{headerText: 'Type', 
                                           field: 'Type'},
                                          {headerText: 'Ball', 
                                           field: 'Ball'},
                                          {headerText: 'dance', 
                                           field: 'dance'},
                                          {headerText: 'outing', 
                                           field: 'outing'},
                                          {headerText: 'other', 
                                           field: 'other'}]}">
            </table>
        </div>
    </div>
        </div>
        <div class="oj-sm-3 oj-flex-item"></div>

</div>




<!--<p><b>Example 2:</b> Without the "odd-cols" classes used in example 1 you would have to repeat the 
    sizing on each column.</p>
<div class="oj-flex-items-pad demo-flex-display" >
    <div class="oj-flex">
        <div class="oj-sm-12 oj-md-4 oj-flex-item">col 1</div>
        <div class="oj-sm-12 oj-md-8 oj-flex-item">col 2</div> 
    </div>       
    <div class="oj-flex">
        <div class="oj-sm-12 oj-md-4 oj-flex-item">col 1</div>
        <div class="oj-sm-12 oj-md-8 oj-flex-item">col 2</div> 
    </div>       
    <div class="oj-flex">
        <div class="oj-sm-12 oj-md-4 oj-flex-item">col 1</div>
        <div class="oj-sm-12 oj-md-8 oj-flex-item">col 2</div> 
    </div> 
</div>

<hr>

<p><b>Example 2:</b> Without the "odd-cols" classes used in example 1 you would have to repeat the 
    sizing on each column.</p>
<div class="oj-flex-items-pad demo-flex-display">
    <div class="oj-flex">
        <div class="oj-sm-12 oj-md-4 oj-flex-item">col 1</div>
        <div class="oj-sm-12 oj-md-8 oj-flex-item">col 2</div> 
    </div>       
    <div class="oj-flex">
        <div class="oj-sm-12 oj-md-4 oj-flex-item">col 1</div>
        <div class="oj-sm-12 oj-md-8 oj-flex-item">col 2</div> 
    </div>       
    <div class="oj-flex">
        <div class="oj-sm-12 oj-md-4 oj-flex-item">col 1</div>
        <div class="oj-sm-12 oj-md-8 oj-flex-item">col 2</div> 
    </div> 
</div>-->
